In [1]:
import pandas as pd

segments = pd.read_csv("../SVQTD/seg_time_lists.csv")
test = pd.read_csv("../SVQTD/test.csv")
train = pd.read_csv("../SVQTD/train.csv")
dev = pd.read_csv("../SVQTD/dev.csv")

segments_clean = pd.read_parquet("../data/segments_clean.parquet")
test_clean = pd.read_parquet("../data/test_clean.parquet")
train_clean = pd.read_parquet("../data/train_clean.parquet")
dev_clean = pd.read_parquet("../data/dev_clean.parquet")

In [2]:
for name, orig, cleaned in [
    ("test", test, test_clean),
    ("train", train, train_clean),
    ("dev", dev, dev_clean),
    ("segments", segments, segments_clean),
]:
    print(f"\n{name.upper()}:")
    print("-original")
    display(orig)
    print("-cleaned")
    display(cleaned)

    print("-not included")
    display(orig[~orig.index.isin(cleaned.index)])

TEST:
-original

,Link,seg_num,Head,Chest,Openess,Breathy,Vibrato,Front,Back,song
0,tj--7L9MJTo,0,0.0,0.0,2.0,1.0,2.0,1.0,1.0,Una_furtiva_lagrima
1,zb7tCie8sFE,14,3.0,3.0,0.0,0.0,0.0,0.0,0.0,Una_furtiva_lagrima
2,230L9mf9BRY,0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
3,1VCAZQ9M22M,6,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
4,1MFnSZ1GPMU,9,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
...,...,...,...,...,...,...,...,...,...,...
874,vtdBBl0RkQo,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,Una_furtiva_lagrima
875,qOVjWb8xcYc,6,1.0,1.0,1.0,0.0,0.0,0.0,1.0,Una_furtiva_lagrima
876,pLaxGoUByTE,9,2.0,1.0,0.0,0.0,1.0,0.0,0.0,Vesti_la_giubba
877,qNPPPJu09lg,11,2.0,0.0,1.0,0.0,0.0,0.0,0.0,Una_furtiva_lagrima
878,4BHp8R30Wtk,9,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima

-cleaned

,tag,seg_num,Head,Chest,Open,Breathy,Vibrato,Front,Back,song
0,tj--7L9MJTo,0,0,0,2,1,2,1,1,Una_furtiva_lagrima
1,zb7tCie8sFE,14,3,3,0,0,0,0,0,Una_furtiva_lagrima
2,230L9mf9BRY,0,2,2,0,0,1,0,0,Una_furtiva_lagrima
4,1MFnSZ1GPMU,9,3,2,0,0,1,0,0,Una_furtiva_lagrima
5,iUw5J8kiyac,5,3,2,1,0,1,2,0,Una_furtiva_lagrima
...,...,...,...,...,...,...,...,...,...,...
874,vtdBBl0RkQo,1,1,1,1,0,0,0,0,Una_furtiva_lagrima
875,qOVjWb8xcYc,6,1,1,1,0,0,0,1,Una_furtiva_lagrima
876,pLaxGoUByTE,9,2,1,0,0,1,0,0,Vesti_la_giubba
877,qNPPPJu09lg,11,2,0,1,0,0,0,0,Una_furtiva_lagrima
878,4BHp8R30Wtk,9,2,2,0,0,1,0,0,Una_furtiva_lagrima

-not included

,Link,seg_num,Head,Chest,Openess,Breathy,Vibrato,Front,Back,song
3,1VCAZQ9M22M,6,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
9,1VCAZQ9M22M,13,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
110,1VCAZQ9M22M,2,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
289,1VCAZQ9M22M,0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
420,1VCAZQ9M22M,8,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
434,1VCAZQ9M22M,17,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
577,1VCAZQ9M22M,12,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
594,1VCAZQ9M22M,16,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
602,1VCAZQ9M22M,9,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
667,1VCAZQ9M22M,11,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
684,1VCAZQ9M22M,14,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
731,1VCAZQ9M22M,7,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
808,3uvYZmJAEX0,13,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
821,1VCAZQ9M22M,4,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
870,-kbi1EMcD3E,8,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Vesti_la_giubba

TRAIN:
-original

,Link,seg_num,Head,Chest,Open,Breathy,Vibrato,Front,Back,song
0,wTyNiJ4bpbk,0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,Che_gelida_manina
1,o3lWEBQevNo,0,1.0,2.0,0.0,1.0,1.0,0.0,0.0,Che_gelida_manina
2,y5eddiim6BQ,0,2.0,2.0,1.0,0.0,1.0,1.0,1.0,Che_gelida_manina
3,0QzJ86rMHzQ,0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,Che_gelida_manina
4,xVilszbi-mU,0,1.0,2.0,3.0,0.0,1.0,0.0,0.0,Che_gelida_manina
...,...,...,...,...,...,...,...,...,...,...
2269,RFA_ilOtGCM&list=PLpEpmwpNk-6dBCxujxeIo9fZGZfx...,29,2.0,2.0,0.0,0.0,0.0,0.0,0.0,Nessun_Dorma
2270,RFA_ilOtGCM&list=PLpEpmwpNk-6dBCxujxeIo9fZGZfx...,30,1.0,1.0,0.0,0.0,0.0,0.0,0.0,Nessun_Dorma
2271,RFA_ilOtGCM&list=PLpEpmwpNk-6dBCxujxeIo9fZGZfx...,31,2.0,1.0,1.0,1.0,0.0,0.0,0.0,Nessun_Dorma
2272,RFA_ilOtGCM&list=PLpEpmwpNk-6dBCxujxeIo9fZGZfx...,32,2.0,2.0,0.0,0.0,0.0,0.0,0.0,Nessun_Dorma
2273,RFA_ilOtGCM&list=PLpEpmwpNk-6dBCxujxeIo9fZGZfx...,33,2.0,2.0,0.0,0.0,0.0,0.0,0.0,Nessun_Dorma

-cleaned

,tag,seg_num,Head,Chest,Open,Breathy,Vibrato,Front,Back,song
0,wTyNiJ4bpbk,0,1,1,2,1,2,2,1,Che_gelida_manina
1,o3lWEBQevNo,0,1,2,0,1,1,0,0,Che_gelida_manina
2,y5eddiim6BQ,0,2,2,1,0,1,1,1,Che_gelida_manina
3,0QzJ86rMHzQ,0,2,1,0,0,1,0,0,Che_gelida_manina
4,xVilszbi-mU,0,1,2,3,0,1,0,0,Che_gelida_manina
...,...,...,...,...,...,...,...,...,...,...
2268,RFA_ilOtGCM,28,2,2,0,0,0,0,0,Nessun_Dorma
2269,RFA_ilOtGCM,29,2,2,0,0,0,0,0,Nessun_Dorma
2270,RFA_ilOtGCM,30,1,1,0,0,0,0,0,Nessun_Dorma
2271,RFA_ilOtGCM,31,2,1,1,1,0,0,0,Nessun_Dorma
2272,RFA_ilOtGCM,32,2,2,0,0,0,0,0,Nessun_Dorma

-not included

,Link,seg_num,Head,Chest,Open,Breathy,Vibrato,Front,Back,song
142,umxF9rh349k,3,3.0,2.0,0.0,0.0,0.0,0.0,0.0,Che_gelida_manina
177,60JpvcZKLX4,3,2.0,2.0,0.0,0.0,0.0,0.0,0.0,Che_gelida_manina
233,wKqEXP0lRwQ,5,2.0,1.0,1.0,0.0,1.0,0.0,0.0,Che_gelida_manina
282,jdlbVWHz_sc,6,0.0,2.0,0.0,0.0,1.0,0.0,0.0,Che_gelida_manina
313,gmATq9jlyRQ,6,2.0,2.0,0.0,0.0,0.0,0.0,0.0,Che_gelida_manina
511,l742nYExP0A,11,1.0,2.0,0.0,0.0,1.0,0.0,0.0,Che_gelida_manina
610,vwA5iFCAu_M,13,2.0,1.0,2.0,1.0,0.0,0.0,0.0,Che_gelida_manina
666,tjjio8aWNTs,14,2.0,2.0,2.0,1.0,2.0,0.0,1.0,Che_gelida_manina
714,2GIi2nl2K8U,15,2.0,2.0,0.0,0.0,1.0,2.0,0.0,Che_gelida_manina
726,xz5t-Xh8hVU,15,1.0,2.0,0.0,0.0,1.0,0.0,0.0,Che_gelida_manina
1355,ui58jWhl7sY,31,2.0,2.0,0.0,0.0,1.0,1.0,1.0,E_lucevan_le_stelle
1645,xN-JCdM4or0&list=PLcO-An1UmmHXT2NRraQU-EDf2sFk...,1,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Nessun_Dorma
2036,RFA_ilOtGCM&list=PLpEpmwpNk-6dBCxujxeIo9fZGZfx...,9,3.0,3.0,0.0,0.0,0.0,0.0,0.0,Nessun_Dorma
2038,YcLtVv7w-us&list=PLcO-An1UmmHXT2NRraQU-EDf2sFk...,9,3.0,2.0,1.0,0.0,1.0,2.0,0.0,Nessun_Dorma
2052,qRPfZqvhSQg&list=PLpEpmwpNk-6dBCxujxeIo9fZGZfx...,9,1.0,0.0,1.0,1.0,1.0,0.0,0.0,Nessun_Dorma
2273,RFA_ilOtGCM&list=PLpEpmwpNk-6dBCxujxeIo9fZGZfx...,33,2.0,2.0,0.0,0.0,0.0,0.0,0.0,Nessun_Dorma

DEV:
-original

,Link,seg_num,Chest,Head,Open,Breathy,Vibrato,Front,Back,song
0,yp3Vi1CspgE,6,2.0,2.0,0.0,0.0,1.0,1.0,1.0,Vesti_la_giubba
1,QGrQgrHBzRw,3,2.0,1.0,0.0,1.0,0.0,0.0,0.0,Una_furtiva_lagrima
2,7K6YTjuqgBQ,2,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
3,mONTSRzdRZw,9,3.0,3.0,0.0,0.0,1.0,0.0,0.0,Vesti_la_giubba
4,h8_AfrqbT5k,0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
...,...,...,...,...,...,...,...,...,...,...
874,7K6YTjuqgBQ,7,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
875,1dfyre45UPE,15,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
876,iyQyaIl2rfI,7,2.0,1.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
877,7L6eCz54_d8,17,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
878,yfK4qvSUQdc,14,1.0,0.0,1.0,0.0,0.0,1.0,0.0,Una_furtiva_lagrima

-cleaned

,tag,seg_num,Chest,Head,Open,Breathy,Vibrato,Front,Back,song
0,yp3Vi1CspgE,6,2,2,0,0,1,1,1,Vesti_la_giubba
1,QGrQgrHBzRw,3,2,1,0,1,0,0,0,Una_furtiva_lagrima
2,7K6YTjuqgBQ,2,3,2,0,0,1,0,0,Una_furtiva_lagrima
3,mONTSRzdRZw,9,3,3,0,0,1,0,0,Vesti_la_giubba
4,h8_AfrqbT5k,0,2,2,0,0,1,0,0,Una_furtiva_lagrima
...,...,...,...,...,...,...,...,...,...,...
874,7K6YTjuqgBQ,7,3,2,0,0,1,0,0,Una_furtiva_lagrima
875,1dfyre45UPE,15,3,2,0,0,1,0,0,Una_furtiva_lagrima
876,iyQyaIl2rfI,7,2,1,0,0,1,0,0,Una_furtiva_lagrima
877,7L6eCz54_d8,17,2,2,0,0,1,0,0,Una_furtiva_lagrima
878,yfK4qvSUQdc,14,1,0,1,0,0,1,0,Una_furtiva_lagrima

-not included

,Link,seg_num,Chest,Head,Open,Breathy,Vibrato,Front,Back,song
95,1VCAZQ9M22M,10,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
275,1VCAZQ9M22M,1,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
622,1VCAZQ9M22M,3,2.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
764,1VCAZQ9M22M,5,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima
805,1VCAZQ9M22M,15,3.0,2.0,0.0,0.0,1.0,0.0,0.0,Una_furtiva_lagrima

SEGMENTS:
-original

             name  num  time_start  time_end
0            test    0       0.000     0.000
1     0HVjTPqe5I0    0       8.893    17.323
2     0HVjTPqe5I0    1      18.053    28.832
3     0HVjTPqe5I0    2      39.120    53.974
4     0HVjTPqe5I0    3      56.265    64.498
...           ...  ...         ...       ...
7351  -kbi1EMcD3E    9       2.554    17.679
7352  -kbi1EMcD3E   10      18.072    30.581
7353  -kbi1EMcD3E   11      30.849    34.994
7354  -kbi1EMcD3E   12      35.098   156.263
7355  -kbi1EMcD3E   13     158.336   209.778

[7356 rows x 4 columns]

-cleaned

              tag  num         name  time_start  time_end
22    0QzJ86rMHzQ    0  0QzJ86rMHzQ       7.464    25.834
23    0QzJ86rMHzQ    1  0QzJ86rMHzQ      26.313    42.961
24    0QzJ86rMHzQ    2  0QzJ86rMHzQ      52.666    60.055
25    0QzJ86rMHzQ    3  0QzJ86rMHzQ      60.531    68.889
26    0QzJ86rMHzQ    4  0QzJ86rMHzQ      69.349    79.525
...           ...  ...          ...         ...       ...
7349  -kbi1EMcD3E    7  -kbi1EMcD3E      99.689   106.723
7351  -kbi1EMcD3E    9  -kbi1EMcD3E       2.554    17.679
7352  -kbi1EMcD3E   10  -kbi1EMcD3E      18.072    30.581
7353  -kbi1EMcD3E   11  -kbi1EMcD3E      30.849    34.994
7354  -kbi1EMcD3E   12  -kbi1EMcD3E      35.098   156.263

[3996 rows x 5 columns]

-not included

             name  num  time_start  time_end
0            test    0       0.000     0.000
1     0HVjTPqe5I0    0       8.893    17.323
2     0HVjTPqe5I0    1      18.053    28.832
3     0HVjTPqe5I0    2      39.120    53.974
4     0HVjTPqe5I0    3      56.265    64.498
...           ...  ...         ...       ...
7339  z8tvfpd11Us   15     167.570   177.402
7340  z8tvfpd11Us   16     177.872   185.142
7341  z8tvfpd11Us   17     185.664   192.482
7350  -kbi1EMcD3E    8     108.028     2.389
7355  -kbi1EMcD3E   13     158.336   209.778

[3386 rows x 4 columns]

Otherwise seems fine, but there are quite a lot of rows dropped from segments.

In [3]:
len(segments[segments.duplicated()])

35

The number of duplicates is not that many. Let's see how many rows there are in total in all data sets

In [4]:
all_datas = pd.concat([train_clean, test_clean, dev_clean], axis=0)
all_datas

,tag,seg_num,Head,Chest,Open,Breathy,Vibrato,Front,Back,song
0,wTyNiJ4bpbk,0,1,1,2,1,2,2,1,Che_gelida_manina
1,o3lWEBQevNo,0,1,2,0,1,1,0,0,Che_gelida_manina
2,y5eddiim6BQ,0,2,2,1,0,1,1,1,Che_gelida_manina
3,0QzJ86rMHzQ,0,2,1,0,0,1,0,0,Che_gelida_manina
4,xVilszbi-mU,0,1,2,3,0,1,0,0,Che_gelida_manina
...,...,...,...,...,...,...,...,...,...,...
874,7K6YTjuqgBQ,7,2,3,0,0,1,0,0,Una_furtiva_lagrima
875,1dfyre45UPE,15,2,3,0,0,1,0,0,Una_furtiva_lagrima
876,iyQyaIl2rfI,7,1,2,0,0,1,0,0,Una_furtiva_lagrima
877,7L6eCz54_d8,17,2,2,0,0,1,0,0,Una_furtiva_lagrima
878,yfK4qvSUQdc,14,0,1,1,0,0,1,0,Una_furtiva_lagrima

A-ha! The question is only that there are so many split segments that are not labelled in any of the data sets.